{% extends 'header_jumbotron.html' %}

{% block main_content %}



<div class="jumbotron">
      <div class="container">

        <h3>Raw Tweets</h3>
        <p><a class="btn btn-primary btn-lg" role="button" href="/update?q={{q}}"> Update Tweets </a>
        <a class="btn btn-primary btn-lg" role="button" href="/tweetPreProcess?q={{q}}"> Proceed to Tweet Pre-Processing </a> </p>
     
        <div class="tweets">
         <div class="well" id="head_tweet" style="display:none;"> </div>
         {% for t in list1 %}      
         <div class="well"> {{ t }} </div>
         {% endfor %}

         <div class="well" id="last_tweet" style="display:none;"> </div>
      </div>

       </div>
 </div>




{% endblock main_content %}
